.item {
    display: flex;
    background-color: rgb(14,14,14);
    width: 100%;
}

.item-image-container {
    height: 56px;
    width: 56px;
    margin: 12px;
    border: inset;
}

.item-info {
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.item-info-box {
    width: 100%;
}

.item-info-level {
    color: #ffd100;
}