.page {
    margin: 10px;
}

.page-title {
    color: white;
    text-align: center;
    font-size: 24px;
    border-bottom: solid #9b9b9b;
    margin-bottom: 10px;
}

.page-content {
    /*padding: 10px;*/
}