.container {
    width: 350px;
    margin: 10px;
    textAlign: left;
    display: inline-block;
    backgroundColor: #ababab;
}

.name {
    padding: 0px;
    line-height: 2;
    border-bottom: thin inset;
}

.content {
    padding: 10px;
    display: flex;
}